button{
    color: rgb(83, 37, 209);
    font-size: 20px;
    margin-bottom: 20px;
    
}
button:hover{
    color: green;
    text-decoration: solid;
}
input{
   padding: 7px ; 
margin-right: 20px;
font-size: 18px;
margin-bottom: 20px;
}
.form{
    border-style: ridge ;
    border-color: rgb(11, 11, 11);
    padding: 25px 25px;
    margin-bottom: 1px;
    background-color:red;
}
.ans{
    font-size: 35px;
    border-style:none;
    padding: 5px 5px;
    background-color:rgba(245, 245, 245, 0.83);
    border-bottom:1px solid rgba(145, 137, 137, 0.855) ;
    
}
.ans:hover{
    opacity:.6 ;
}
.ans1{
    margin-right: 50px;
    margin-bottom: 20px;
}
.ans2:hover{
    color: rgb(19, 0, 128);
}
.ans2{
   
    margin-right:50px ;
    margin-bottom: 20px;
    color:green;
    font-weight: bold;
}
